version: "3.9"

services:
  app:
    container_name: automation-project
    image: devopskarl/automation-project:latest  # Updated dynamically by deploy.sh
    restart: always
    ports:
      - "8080:3000"
    environment:
      NODE_ENV: production
      PORT: 3000
    networks:
      - app_network

networks:
  app_network:
    driver: bridge
