apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: automation-project-blue
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: automation-project-deployment:latest # <-- Must match your Deployment's name
  minReplicas: 2  # The minimum number of pods to run
  maxReplicas: 6 # The maximum number of pods to scale up to
  metrics:
  - type: Resource
    resource:
      name: cpu
      target:
        type: Utilization
        averageUtilization: 70 # Target 70% CPU usage